@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    overflow-x: hidden;
    font-weight: 400;
    font-family: 'Familjen Grotesk', sans-serif;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.img-box {
    height: 100%;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-box {
    padding-inline: 10em;
}

.title {
    font-size: 5em;
    max-width: max-content;
    margin-block-end: 0.25em;
}

.text {
    opacity: 0.6;
    line-height: 1.8;
}